body {
  min-height: 100vh;
}

.text-center {
  text-align: center;
}

.custom-container {
  padding: 5% 7%;
}

.title {
  font-weight: bolder;
}

.course-schedule {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 20%));
  gap: 10px;
  justify-content: space-between;
}

.card {
  padding: 10%;
  border: 1px solid #717171;
  border-radius: 10px;
  text-align: left;
  cursor: pointer;
}

.card.selected {
  background-color: #789bff;
  border: 1px solid #789bff;
  color: #ffffff;
}

.card.conflicted {
  background-color: #ff7875;
  border: 1px solid #ff7875;
  color: #ffffff;
  cursor: not-allowed;
}

.card > .class-information {
  height: 300px;
}

.card > .class-information > h1 {
  font-size: 35px;
}

.card > .class-information > p {
  font-size: 25px;
}

.card > p.time-schedule {
  font-size: 20px;
}

div.no-data {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.no-data > div.error-message {
  display: block;
}

div.action-buttons {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

.modal {
  display: block;
  visibility: hidden;
  padding: 10% 0;
}

.modal-show {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 0.2s linear;
}

.modal-content {
  opacity: 0;
}

.modal-dialog {
  max-width: 80% !important;
}

.modal-show .modal-content {
  transition: 0.2s ease-in;
  opacity: 1;
}

.course-schedule-list,
.course-schedule-list > table {
  width: 100%;
}

.course-schedule-list > table > thead {
  border-bottom: 1px solid #717171;
}

.course-schedule-list > table > tbody > tr:not(:last-child) {
  border-bottom: 1px solid #717171;
}

.course-schedule-list > table > tbody > tr > td {
  padding: 5%;
}

button.schedule-modal {
  color: #ffffff;
}
